$background_url: url("../../../assets/background/main3.jpg")

.m-carcassone-background
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-evenly
  background: $background_url center no-repeat
  background-size: cover